*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.site-header {
    width: 100%;
    height: 100vh;
    background: #0f8a9d;
    background: linear-gradient(60deg, aqua , purple ); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
nav{
    width: 100%; height: 100px;
    display: flex; color: white;
 }
.menu{
    width: 50%; height: 100px;
}
.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
}
.menu ul li{
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
section{ display: flex;  }

.leftside { width: 45%; height: auto; overflow: hidden; margin-top: 20px;}
.leftside img{  width: 75vh;  height: 70vh; }
.rightside{ width: 55%; height: 300px; color: white; text-align: center; margin-top: 80px; padding: 40px;}
.rightside h1{ text-align: center;
    color: #ffffff;
    font-size: 51px;
    font-weight: 900;
    text-transform: uppercase; } 
.rightside p {  
    font-size: 1.1rem; padding: 30px 0; }
.rightside button{   font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, purple, aqua ); 
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px ; 
}
.rightside button:hover{
      background: linear-gradient(57deg, #1E4D92, #00C6A7 );   
}
.adminbtn {
  display: inline-block;
  border-radius: 4px;
  background-color: #1acce6;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.6s;
  cursor: pointer;
  margin: 5px;
}
.adminbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.adminbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.adminbtn:hover span {
  padding-right: 25px;
}
.adminbtn:hover span:after {
  opacity: 1;
  right: 0;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.home:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #27b2d9;
}
.home{
  background-color: #27b2d9;
  color: white;
}
.services:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #339bcd;
}
.services{
  background-color: #339bcd;
  color: white;
}
.about:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #398cc6;
}
.about{
  background-color: #398cc6;
  color: white;
}
.contact:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #427bbd;
}
.contact{
  background-color: #427bbd;
  color: white;
}
.login:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #525bad;
}
.login{
  background-color: #525bad;
  color: white;
}


